spring:
  profiles:
    active: local

  datasource:
    url: jdbc:mysql://localhost:3306/shop?characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: localhost
      port: 6379

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        globally_quoted_identifiers: true
logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace
